{% extends "base.html" %}
{% block title %}{{ post[1] }}{% endblock %}
{% block content %}
<style>

  .container 
  .blog-post-content {
    max-width: 200px 800px 800px 800px !important;
    margin: 100px auto;
    padding: 100px 100px 100px 100px;
    background-color: #fff !important;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
</style>

<section class="blog reveal">
    <div class="container mx-auto py-12 px-4">
        <div class="blog-post-content">
            <h1>{{ post[1] }}</h1>
            <div class="image">
                {% if post[4] %}
                    <img src="{{ url_for('static', filename='images/' + post[4]) }}" alt="{{ post[1] }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Default Image">
                {% endif %}
            <div class="date">{{ post[3] }}</div>
            <div class="content">{{ post[2]|safe }}</div>
        </div>
    </div>
</section>
{% endblock %}